<script>
  // import { scaleLinear } from 'd3-scale';
  //  let datapoints = [];
  // fetch("https://raw.githubusercontent.com/Seven7067123/datavisual/main/daily_heating_cooling.json")
  // .then(res => res.json())
  // .then(data => datapoints = data)
  
  // fetch("./daily_heating_cooling.json")
  // .then(res => res.json())
  // .then(data => datapoints = data)

  import { onMount } from 'svelte';
  import { scaleLinear } from 'd3-scale';
 
   let datapoints = [];
   onMount(() => {
    fetch("/data/daily_heating_cooling.json")
      .then(res => res.json())
      .then(data => datapoints = data)
   });

     // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 }; const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
    const scaleH = scaleLinear().domain([0,150000]).range([0,75]);
    const scaleC = scaleLinear().domain([0,60000]).range([0,75]);
    let bxhscale=function(num){
      return 90+scaleH(datapoints[num-2].heating)*Math.sin((num-
  1)/365*360/180*Math.PI);
    }
    let yhscale=function(num){
      return 100-scaleH(datapoints[num-2].heating)*Math.cos((num-
   1)/365*360/180*Math.PI);
    }
    let cxhscale=function(num){
      return 260+scaleH(datapoints[num-2].heating)*Math.sin((num-
  1)/365*360/180*Math.PI);
    }
    let lxhscale=function(num){
      return 430+scaleH(datapoints[num-2].heating)*Math.sin((num-
  1)/365*360/180*Math.PI);
    }
     let bxcscale=function(num){
      return 90+scaleC(datapoints[num-2].cooling)*Math.sin((num-
  1)/365*360/180*Math.PI);
    }
    let ycscale=function(num){
       return 100-scaleC(datapoints[num-2].cooling)*Math.cos((num-
  1)/365*360/180*Math.PI);
    }
    let cxcscale=function(num){
  
       return 260+scaleC(datapoints[num-2].cooling)*Math.sin((num-
  1)/365*360/180*Math.PI);
    }
    let lxcscale=function(num){
      return 430+scaleC(datapoints[num-2].cooling)*Math.sin((num-
  1)/365*360/180*Math.PI);
  }
  </script>
   <svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
      <circle cx="90" cy="100" r="75" class="base"/>
      <circle cx="260" cy="100" r="75" class="base"/>
      <circle cx="430" cy="100" r="75" class="base"/>
      <line x1="15" y1="100" x2="165" y2="100"/>
      <line x1="90" y1="25" x2="90" y2="175"/>
      <line x1="185" y1="100" x2="335" y2="100"/>
      <line x1="260" y1="25" x2="260" y2="175"/>
      <line x1="355" y1="100" x2="505" y2="100"/>
      <line x1="430" y1="25" x2="430" y2="175"/>
      <text x=90 y=20>0</text>
      <text x=260 y=20>0</text>
      <text x=430 y=20>0</text>
      <text x=170 y=100>3</text>
      <text x=340 y=100>3</text>
      <text x=510 y=100>3</text>
      <text x=90 y=180>6</text>
      <text x=260 y=180>6</text>
      <text x=430 y=180>6</text>
      <text x=10 y=100>9</text>
      <text x=180 y=100>9</text>
      <text x=350 y=100>9</text>
  {#each datapoints as datapoint}
   {#if datapoint.city == "Baltimore" && datapoint.day_of_year>1}
  <line x1={bxhscale(datapoint.day_of_year)} y1={yhscale(datapoint.day_of_year)} x2={90+scaleH(datapoint.heating)*Math.sin((datapoint.day_of_year/365)*360/180*Math.PI)} y2={100- scaleH(datapoint.heating)*Math.cos(datapoint.day_of_year/365*360/180*Math.PI)}
   class="heat" />
  <line x1={bxcscale(datapoint.day_of_year)}
  y1={ycscale(datapoint.day_of_year)}
   x2={90+scaleC(datapoint.cooling)*Math.sin((datapoint.day_of_year/365)*360/180*Math.PI)} 
   y2={100-scaleC(datapoint.cooling)*Math.cos(datapoint.day_of_year/365*360/180*Math.PI)}
  class="cold" />
  {/if}
      {#if datapoint.city == "Chicago" && datapoint.day_of_year>1}
  <line x1={cxhscale(datapoint.day_of_year)} y1={yhscale(datapoint.day_of_year)}
   x2={260+scaleH(datapoint.heating)*Math.sin((datapoint.day_of_year/365)*360/180*Math.PI)} 
   y2={100-scaleH(datapoint.heating)*Math.cos(datapoint.day_of_year/365*360/180*Math.PI)} class="heat" />
  <line x1={cxcscale(datapoint.day_of_year)} y1={ycscale(datapoint.day_of_year)} x2={260+scaleC(datapoint.cooling)*Math.sin((datapoint.day_of_year/365)*360/180*Math.PI)} y2={100- scaleC(datapoint.cooling)*Math.cos(datapoint.day_of_year/365*360/180*Math.PI)} class="cold" />
  {/if}
  {#if datapoint.city == "Los Angeles" && datapoint.day_of_year>1}
  <line x1={lxhscale(datapoint.day_of_year)} y1={yhscale(datapoint.day_of_year)} x2={430+scaleH(datapoint.heating)*Math.sin((datapoint.day_of_year/365)*360/180*Math.PI)} y2={100- scaleH(datapoint.heating)*Math.cos(datapoint.day_of_year/365*360/180*Math.PI)} class="heat" />
  <line x1={lxcscale(datapoint.day_of_year)} y1={ycscale(datapoint.day_of_year)} x2={430+scaleC(datapoint.cooling)*Math.sin((datapoint.day_of_year/365)*360/180*Math.PI)} y2={100- scaleC(datapoint.cooling)*Math.cos(datapoint.day_of_year/365*360/180*Math.PI)} class="cold" />
  {/if}
   {/each} </g>
  </svg>
   <style>
  
     svg {
      border: 1px solid black;
      border-radius: 5px;
  }
    circle.base {
  fill: pink;
  opacity: 0.3;
  }
  line.heat {
     stroke: red;
  stroke-width: 1;
  }
  line.cold {
    stroke: blue;
  stroke-width: 1;
  }
  line {
    stroke: black;
  stroke-width: 1;
  }
  </style>