<script>
	let count = 0;

	function handleClick(event) {
		count += 1;
	}
	
	const reset = () => {
		count = 0;
	}
</script>

<button on:click={handleClick} type="button" class="btn btn-primary">
    Clicked {count} times.
</button> 

<form >
  <input type="reset" value="Reset" on:click="{reset}" class="btn btn-danger">
</form>