<script>
  import { scaleLog } from 'd3-scale';
  import { axisBottom } from 'd3-axis';
  import { select } from "d3-selection";
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];

  const scale = scaleLog()
    .domain([1, 10])
    .range([0, innerWidth]);

  function xAxis(element) {
    const line = axisBottom(scale);
     line(select(element));
  };

            
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
   {#each values as value}
   <g use:xAxis transform="translate(0,60)">
    <circle cx={scale(value)} cy={innerHeight / 2} r=10 fill="teal" transform="translate(0,-60)"/>
   </g>
    {/each}
    <text x="50%" y="90%" dominant-baseline="middle" text-anchor="middle">x-axis</text>
  </g>
</svg> 

<style>
  text {
    fill: currentColor
  }
</style>

