<!-- <script>
    import Scatter from './_ex_7_scatterplot.svelte';
    
    let data = null;
    onMount(async () => {
    data = await fetch('/static/data/gapminder.json');
    });

    if (data.year == 1800) {
      return data;
    } else {
      throw new Error(data);
    }
</script>


{#await fetchData()}
  <p>loading...</p>
{:then items}
  {#each items(year) as item}
    <li>{item.id}. {item.title}</li>
  {/each}
{:catch error}
  <p style="color: red">{error.message}</p>
{/await}


<div>
    {#await promise}
        <p>Loading...</p>
    {:then user}
        {#each user as user}
        <p>Name is {user.name}, ID: {user.id}</p>
        {/each}
    {:catch error}
        <p style="color: red">{error.message}</p>
    {/await}
 </div>  -->